[project]
	description = Android application desigined with reference to whattodo core service
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sriram-mahavadi
[access "refs/for/refs/*"]
	read = group user/sriram-mahavadi
	push = group user/sriram-mahavadi
	label-Code-Review = -2..+2 group user/sriram-mahavadi
	label-Verified = -1..+1 group user/sriram-mahavadi
	rebase = group user/sriram-mahavadi
	removeReviewer = group user/sriram-mahavadi
	submit = group user/sriram-mahavadi
[access "refs/heads/*"]
	read = group user/sriram-mahavadi
	create = group user/sriram-mahavadi
	push = +force group user/sriram-mahavadi
	pushMerge = group user/sriram-mahavadi
[access "refs/tags/*"]
	push = +force group user/sriram-mahavadi
	pushTag = group user/sriram-mahavadi
	pushSignedTag = group user/sriram-mahavadi
